<div style="margin-left:40px">
	<h2>Medicine Details</h2>
	<table style="margin-left:10px">
		<tr>
			<td>ID:</td>
			<td>{{medicine.id}}</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>{{medicine.name}}</td>
		</tr>
		<tr>
			<td>Manufacturer:</td>
			<td>{{medicine.manufacturer}}</td>
		</tr>
		<tr>
			<td>Batch No.:</td>
			<td>{{medicine.batchno}}</td>
		</tr>
		<tr>
			<td>Expiry:</td>
			<td>{{medicine.expiry}}</td>
		</tr>
		<tr>
			<td>Price:</td>
			<td>{{medicine.price}}</td>
		</tr>
		<tr>
			<td>Type:</td>
			<td>{{medicine.type}}</td>
		</tr>
	</table>
	<button (click)="goBack()">Back</button>
</div>